<div class="container py-4">
  <div class="row">
    <div class="col-md-4">
      <h6>电影商城</h6>
      <p class="small text-muted">在线电影商店的 Demo 项目，仅供学习 Django 使用。</p>
    </div>
    <div class="col-md-4">
      <h6>快速链接</h6>
      <ul class="list-unstyled small">
        <li><a href="{% url 'home:about' %}" class="text-light text-decoration-none">关于我们</a></li>
        <li><a href="{% url 'home:home' %}" class="text-light text-decoration-none">浏览电影</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-end">
      <h6>联系我们</h6>
      <p class="small mb-0 text-muted">邮箱：info@moviesstore.com</p>
      <p class="small text-muted">电话：+86 123-4567-8900</p>
    </div>
  </div>
  <hr class="my-3 bg-secondary">
  <div class="text-center small text-muted">
    © 2024 Movies Store Demo.  Designed by Daniel Correa & Greg Lim
  </div>
</div>