{% extends "home/layout/base.html" %}
{% load static %}
{% block title %}关于页面 - 电影商城{% endblock %}
{% block main %}
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>关于 Movies Store</h2>
                <p>
                    我们提供覆盖所有类型的海量数字片库，最新上映、永恒经典、冷门宝藏，应有尽有。只需几次点击，即可高清流媒体播放或永久收藏。</p>
                <p>支持智能电视、平板、手机等多设备观看；智能搜索与推荐，让你最快找到下一部想看的大片。</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="https://wp.upx8.com/api.php" class="img-fluid rounded shadow" alt="影院观感">
            </div>
        </div>
    </div>
{% endblock %}