{% load static %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}电影商城{% endblock %}</title>
    <link href="{% static 'bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome6/css/all.min.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body>
{% block main %}
{% endblock %}

<script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>